* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .madal__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: fadeIn linear 0.2s;
          animation: fadeIn linear 0.2s;
}

.modal .madal__body {
  margin: auto;
  position: relative;
  z-index: 1;
  -webkit-animation: growth linear 0.2s;
          animation: growth linear 0.2s;
}

@-webkit-keyframes growth {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes growth {
  from {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn {
  min-width: 142px;
  height: 34px;
  border: none;
  border-radius: 3px;
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 1.4rem;
}

.btn.btn-primary {
  background-color: #ee4d2d !important;
  color: white;
}

.btn.btn-disabled {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
}

.pagination__item {
  display: block;
  font-size: 1.6rem;
  margin: 0 15px;
  text-decoration: none;
  color: #939393;
  line-height: 30px;
  min-width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 3px;
}

.pagination__item-active .pagination__item:hover {
  background-color: #ed5c3f;
}

.pagination__item-active .pagination__item {
  background-color: #ee4d2d;
  color: white;
}

.app {
  overflow: hidden;
}

.header {
  height: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#f63), to(#f53d2d));
  background: linear-gradient(0, #f63, #f53d2d);
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav__list {
  list-style: none;
  padding-left: 0;
  margin: 8px 0px 0px 0px;
}

.header .nav__item {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  font-weight: 300;
  margin: 0 0.8rem;
  position: relative;
}

.header .nav__item-bold {
  font-weight: 450;
}

.header .nav__item-link {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.header .nav__item-gach::after {
  display: block;
  content: "";
  position: absolute;
  height: 15px;
  width: 1.5px;
  background-color: #fb9086;
  top: 50%;
  right: -9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .nav__icon-avt:hover,
.header .nav__item:hover,
.header .nav__item-link:hover {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.header .nav__icon-link {
  text-decoration: none;
  color: white;
}

.header .nav__icon-link:nth-child(2) {
  margin-left: 4px;
}

.header .nav__icon-avt {
  font-size: 1.8rem;
  margin: 0 5px;
}

.header .nav__icon-link,
.header .nav__item,
.header .nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__item-text {
  cursor: text;
  color: white;
}

.header .nav__qrcode {
  position: absolute;
  top: 150%;
  left: 0;
  width: 186px;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  display: none;
  -webkit-animation: fadeIn linear 0.3s;
          animation: fadeIn linear 0.3s;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
  z-index: 1;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header .nav__qrcode:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -12px;
}

.header .nav__qrcode-img {
  width: 100%;
}

.header .nav__qrcode-download {
  height: 15px;
}

.header .nav__qrcode-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 11px;
}

.header .nav__item:hover .nav__qrcode {
  display: block;
}

.header .nav__notify {
  position: absolute;
  top: 165%;
  right: 0;
  width: 404px;
  background-color: white;
  border: 1px solid #d3d3d3;
  display: none;
  -webkit-transform-origin: calc(100% - 32px) top;
          transform-origin: calc(100% - 32px) top;
  will-change: opacity , transform;
  -webkit-animation: headerNotify ease-in 0.2s;
  animation: headerNotify ease-in 0.2s;
  z-index: 1;
  border-radius: 3px;
}

@-webkit-keyframes headerNotify {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes headerNotify {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header .header__notify {
  height: 40px;
  background-color: white;
  cursor: default;
}

.header .header__notify h3 {
  color: #999;
  margin: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  margin-left: 12px;
}

.header .nav__notify-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.header .nav__notify-item-viewed {
  background-color: rgba(238, 77, 45, 0.1);
}

.header .nav__notify-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px;
  text-decoration: none;
  color: white;
  padding: 10px;
  height: 90px;
}

.header .nav__notify-link:hover {
  background-color: #f7f7f7;
}

.header .nav__notify-img {
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header .nav__notify-info {
  margin-left: 1.2rem;
}

.header .nav__notify-name {
  font-size: 1.3rem;
  color: black;
  font-weight: 400;
  margin: 0;
}

.header .nav__notify-desr {
  font-size: 12px;
  color: #756f6e;
  margin-top: 8px;
  margin-bottom: 0;
}

.header .nav__notify-all {
  text-align: center;
  margin: 10px 0;
  color: black;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
}

.header .nav__item:hover .nav__notify {
  display: block;
}

.header .nav__notify::before {
  content: "";
  position: absolute;
  right: 4px;
  top: -30px;
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.header .nav__notify::after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  width: 90px;
  height: 10%;
}

.header .user-login__name {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

.header .user-login__avatar-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 7px;
}

.header .user-login__login {
  position: absolute;
  right: 0;
  top: 123%;
  left: -27px;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  display: none;
  border-radius: 3px;
  -webkit-transform-origin: calc(100% - 50px) top;
          transform-origin: calc(100% - 50px) top;
  -webkit-animation: headerNotify ease-in 0.2s;
          animation: headerNotify ease-in 0.2s;
}

.header .user-login__login::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: -21%;
  right: 37px;
  border: 20px solid black;
  border-color: transparent transparent white transparent;
}

.header .user-login__login::after {
  position: absolute;
  content: "";
  top: -10%;
  right: 0;
  left: 27px;
  height: 19px;
}

.header .user-login__link {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.4rem;
  padding: 10px;
  display: block;
}

.header .user-login__link:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.header .nav__item:hover .user-login__login {
  display: block;
}

.sort-bar {
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  background-color: white;
  height: 46px;
  z-index: 2;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.09);
  border-top: 1px solid #ccc;
  display: none;
}

.sort-bar .sort-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  height: 100%;
}

.sort-bar .sort-bar__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sort-bar .sort-bar__sort-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.sort-bar .sort-bar__sort-card::before {
  position: absolute;
  content: "";
  top: 0;
  border-left: 1.4px solid #e5e5e5;
  height: 60%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.sort-bar .sort-bar__item-icon {
  display: block;
  font-size: 1rem;
  color: #8a8585;
  margin-left: 10px;
}

.sort-bar .sort-bar__link {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 46px;
  position: relative;
}

.sort-bar .sort-bar__link-bride::after {
  position: absolute;
  content: "";
  top: 1%;
  left: -78px;
  bottom: 0;
  width: 191px;
  height: 44px;
}

.sort-bar .sort-bar__link::before {
  position: absolute;
  content: "";
  top: 0;
  border-left: 1.4px solid #e5e5e5;
  height: 60%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.sort-bar .sort-bar__item:first-child .sort-bar__link::before {
  display: none;
}

.sort-bar .sort-bar__item:last-child .sort-bar__link::before {
  display: none;
}

.sort-bar .sort-bar__item-active .sort-bar__link {
  color: #ee4d2d;
}

.auth-form {
  width: 500px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
  padding-top: 10px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: #ee4d2d;
  font-weight: 450;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  font-size: 1.4rem;
  padding-left: 12px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  outline: #666;
}

.auth-form__input:focus {
  border-color: #666;
}

.auth-form__afterside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 0;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: #ee4d2d;
}

.auth-form__control {
  margin-top: 80px;
  text-align: right;
}

.auth-form__control-back {
  margin-right: 8px;
  background-color: white;
}

.auth-form__control-back:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__socials {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
}

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-size-s {
  height: 32px;
}

.auth-form__socials-icon-fb {
  font-size: 1.8rem;
  color: white;
  padding-right: 36px;
}

.auth-form__socials-fb {
  background-color: #3a5a98;
  color: white;
  padding: 0 10px;
}

.auth-form__socials-gg {
  background-color: white;
  color: #666;
  padding: 0 10px;
}

.auth-form__socials-icon-gg {
  font-size: 1.8rem;
  color: black;
  padding-right: 36px;
}

.auth__form-login {
  text-align: right;
}

.auth-form__text-help {
  text-decoration: none;
  color: #756f6e;
  font-size: 1.4rem;
}

.auth-form__text-forget {
  text-decoration: none;
  color: #ee4d2d;
  font-size: 1.4rem;
  padding: 0 30px;
}

.auth-form__text-forget:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 13px;
  margin-top: -1px;
}

.header__search {
  width: 100%;
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-logo {
  width: 200px;
  padding: 8px;
}

.header__search-logo-img {
  width: 120px;
  color: white;
}

.header__search-search {
  height: 40px;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-market {
  width: 150px;
  text-align: center;
}

.header__search-market-icon {
  font-size: 2.4rem;
  color: white;
  cursor: pointer;
}

.header__search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  height: 40px;
}

.header__search-input-text {
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 16px;
  width: 100%;
  border-radius: 3px;
}

.header__search-icon-search {
  height: 34px;
  width: 60px;
  font-size: 1.5rem;
  background-color: #ee4d2d;
  margin: 3px 3px 3px 10px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.header__search-icon-search:hover {
  background-color: #fb6445;
  cursor: pointer;
}

.header__search-icons {
  color: white;
  margin: auto;
}

.header__search-text-select {
  font-size: 1.4rem;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.header__search-option {
  position: absolute;
  top: 100%;
  right: -10px;
  left: 0;
  background-color: white;
  padding: 0;
  margin: 4px 0 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: none;
  -webkit-animation: fadeIn linear 0.2s;
          animation: fadeIn linear 0.2s;
  z-index: 3;
}

.header__search-option-list {
  list-style: none;
  padding-left: 16px;
}

.header__search-option-list:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-icon {
  color: #ee4d2d;
  font-size: 1rem;
  margin-left: 15px;
}

.header__search-option-list i {
  display: none;
}

.header__search-option-icon-active i {
  display: inline-block;
}

.header__search-down {
  font-size: 1rem;
  color: #a19e9e;
}

.search-content {
  margin: 0 18px;
}

.header__search-text-select:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 26px;
  background-color: #e8e8e8;
  opacity: 0.5;
  margin-right: 18px;
}

.header__search-text-select:hover .header__search-option {
  display: block;
}

.header__search-option:before {
  content: "";
  position: fixed;
  width: 152px;
  height: 40px;
  top: 80px;
}

.header__search-history {
  position: absolute;
  top: 100%;
  left: 0;
  right: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  margin-top: 4px;
  border-radius: 3px;
  display: none;
  z-index: 3;
}

.header__search-history > p {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.26);
  padding: 10px;
  margin: 0;
  cursor: text;
}

.header__search-history-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__search-history-item > a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  font-size: 1.4rem;
}

.header__search-history-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-input-text:focus ~ .header__search-history {
  display: block;
}

.market-empty {
  position: absolute;
  top: 154%;
  right: 1px;
  width: 400px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  display: none;
  border-radius: 3px;
  will-change: opacity , animation;
  -webkit-animation: headerNotify linear 0.2s;
          animation: headerNotify linear 0.2s;
  -webkit-transform-origin: calc(100% - 20px) top;
          transform-origin: calc(100% - 20px) top;
  cursor: default;
  z-index: 1;
}

.market-empty-yes-card .market-no {
  display: none;
}

.market-empty-no-card .market-yes {
  display: none;
}

.market-no img {
  width: 25%;
  right: 10%;
}

.market-no {
  text-align: center;
}

.market-empty-desr {
  font-size: 1.4rem;
  margin-bottom: 0;
  text-align: center;
}

.market-empty:before {
  content: "";
  position: absolute;
  right: 2px;
  top: -30px;
  border: 20px solid white;
  border-color: transparent transparent white transparent;
  cursor: pointer;
}

.header-card-wrap {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding: 0 12px 0;
}

.header-card-wrap:hover .market-empty {
  display: block;
}

.header-number {
  position: absolute;
  color: #ee4d2d;
  line-height: 1.4rem;
  font-size: 1.4rem;
  padding: 1px 8px;
  border: 2px solid #ee4d2d;
  border-radius: 10px;
  background-color: white;
  top: -10px;
  right: -4px;
}

.market-yes .header__text-market {
  text-align: left;
}

.market-yes .btn-market {
  text-align: right;
}

.market-yes .market-btn {
  margin: 10px 10px;
  min-width: 120px;
}

.market-yes .market-btn-link {
  color: white;
  padding: 0 3px;
  line-height: 14px;
  margin: 0;
  display: inline-block;
}

.market-yes .market-yes__info {
  width: 100%;
}

.market-yes .market-yes__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.market-yes .market-yes__name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 153px;
  white-space: nowrap;
  text-align: left;
}

.market-yes .market-yes__price {
  color: #ee4d2d;
  font-size: 1.4rem;
  line-height: 32px;
  margin: 0;
}

.market-yes .market-yes_multipli {
  margin: 0 5px;
}

.market-yes .market-yes_multipli,
.market-yes .market-yes_number {
  color: #666;
}

.market-yes .market-yes__price-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market-yes .market-yes__info-desr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 13px;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 10px;
}

.market-yes .market-yes__class {
  color: #666;
  font-size: 1.2rem;
}

.market-yes .market-yes__delete {
  color: black;
  font-size: 1.4rem;
}

.market-yes .market-yes__delete:hover {
  color: #ee4d2d;
}

.app__container {
  background-color: #f5f5f5;
  padding-top: 36px;
  border-bottom: 4px solid #ee4d2d;
}

.app__container .category {
  background-color: white;
  border-radius: 3px;
}

.app__container .category-heading {
  font-size: 1.7rem;
  border-bottom: 1px solid #ccc;
  padding: 15px 16px;
  margin: 0;
}

.app__container .category-heading-icon {
  margin-right: 8px;
}

.app__container .category-list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 5px;
}

.app__container .category-item__link:hover {
  right: -5px;
  color: #ee4d2d;
}

.app__container .category-item__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  padding: 10px 30px;
  display: block;
  position: relative;
  -webkit-transition: right linear 0.2s;
  transition: right linear 0.2s;
  right: 0;
}

.app__container .category-item-active .category-item__link {
  color: #ee4d2d;
}

.app__container .category-item-active .category-item__link:before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 18px;
  border: 4px solid;
  border-color: transparent transparent transparent #ee4d2d;
}

.app__container .home-filter {
  height: 60px;
  background-color: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-size: 1.4rem;
  border-radius: 3px;
}

.app__container .home-filter__label {
  margin-right: 6px;
}

.app__container .home-filter__btn {
  min-width: 90px;
  background-color: white;
  margin: 0 2px;
}

.app__container .home-filter__btn-sort {
  background-color: white;
  margin: 0 2px;
  min-width: 200px;
  position: relative;
}

.app__container .home-filter__btn-sort:hover .price-sort {
  display: block;
}

.app__container .btn-price__region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 12px;
}

.app__container .price-sort {
  position: absolute;
  background-color: white;
  top: 103%;
  right: 0;
  left: 0;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
  padding: 20px 15px;
  border-radius: 3px;
  display: none;
  z-index: 1;
}

.app__container .price-sort__inrease {
  padding-bottom: 20px;
}

.app__container .price-sort__inrease,
.app__container .price-sort__derease {
  display: block;
  text-align: left;
}

.app__container .price-sort__inrease:hover,
.app__container .price-sort__derease:hover {
  color: #ee4d2d;
}

.app__container .home-filter__next-region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__container .home-filter__next-next-region {
  background-color: white;
  width: 36px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.01);
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.app__container .home-filter__next-number {
  margin-right: 20px;
}

.app__container .home-filter__next-number-first {
  color: #ee4d2d;
}

.app__container .home-filter__next-next-default.home-filter__next-next-region {
  background-color: #f9f9f9;
  color: #ccc;
  cursor: default;
}

.category-item:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}

.product-item-fill {
  margin-bottom: 10px;
}

.category-item {
  display: block;
  text-decoration: none;
  color: black;
  background-color: white;
  position: relative;
  margin-top: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform linear 0.1s;
  transition: -webkit-transform linear 0.1s;
  transition: transform linear 0.1s;
  transition: transform linear 0.1s, -webkit-transform linear 0.1s;
  will-change: transform;
}

.category-item .category-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.category-item .category-item__desr {
  padding: 8px;
}

.category-item .category-item__name {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.category-item .category-item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  font-size: 1.6rem;
}

.category-item .category-price__old {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.46);
}

.category-item .category-price__new {
  color: #ee4d2d;
  font-weight: 500;
}

.category-item .category-item__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.category-item .category-item-star {
  font-size: 1rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  color: #ccc;
  margin-left: auto;
}

.category-item .category-item-star .star-gold {
  color: #ffce3d;
}

.category-item .category-item__action-sold {
  font-size: 1.2rem;
  font-weight: 400;
}

.category-item .category-item__like {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-item .category-item__like-yes {
  display: none;
  color: #f63d30;
}

.category-item .category-item__like-liked .category-item__like-yes {
  display: block;
}

.category-item .category-item__like-liked .category-item__like-no {
  display: none;
}

.category-item .category-item__origin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  color: #595959;
}

.category-item .category-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: #ee4d2d;
  background-color: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.category-item .category-item__favourite > span {
  font-size: 1.2rem;
  color: white;
  padding: 0 4px;
  font-weight: 500;
}

.category-item .category-item__favourite::before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.category-item .category-item__favourite-icon {
  font-size: 1rem;
  color: white;
  padding-left: 4px;
}

.category-item .category-item__saleof {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
  background-color: rgba(255, 212, 36, 0.9);
  width: 36px;
  height: 32px;
}

.category-item .category-item__saleof::after {
  position: absolute;
  content: "";
  top: 100%;
  right: 0;
  left: 0;
  border-style: solid;
  border-color: transparent rgba(255, 212, 36, 0.9) transparent rgba(255, 212, 36, 0.9);
  border-width: 0 18px 5px;
}

.category-item .category-item__saleof-value {
  display: block;
  text-align: center;
  color: #ee4d2d;
}

.category-item .category-item__saleof-label {
  display: block;
  text-align: center;
  color: white;
}

.product-pagination {
  margin: 38px 0 50px;
}

.fotter-first {
  background-color: #FBFBFB;
}

.fotter-last {
  background-color: #f5f5f5;
}

.fotter-first, .fotter-last {
  color: rgba(0, 0, 0, 0.54);
}

.fotter-first .fotter__content, .fotter-last .fotter__content {
  padding: 40px 0;
}

.fotter-first .fotter__header, .fotter-last .fotter__header {
  font-size: 1.3rem;
  color: black;
}

.fotter-first .fotter__list, .fotter-last .fotter__list {
  font-size: 1.3rem;
  list-style: none;
  padding: 0;
}

.fotter-first .fotter__item-link, .fotter-last .fotter__item-link {
  text-decoration: none;
  padding: 5px 0;
  display: block;
  color: rgba(0, 0, 0, 0.54);
}

.fotter-first .fotter__item-link:hover, .fotter-last .fotter__item-link:hover {
  color: #ee4d2d;
}

.fotter-first .fotter__header-third, .fotter-last .fotter__header-third {
  font-size: 1.3rem;
  color: black;
}

.fotter-first .fotter__pay, .fotter-last .fotter__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
}

.fotter-first .fotter__pay-icon, .fotter-last .fotter__pay-icon {
  margin: 0 5px;
}

.fotter-first .fotter__pay-visa .fotter__pay-icon, .fotter-last .fotter__pay-visa .fotter__pay-icon {
  color: #07077e;
}

.fotter-first .fotter__pay-mastercard .fotter__pay-icon, .fotter-last .fotter__pay-mastercard .fotter__pay-icon {
  color: red;
}

.fotter-first .fotter__pay-jcb .fotter__pay-icon, .fotter-last .fotter__pay-jcb .fotter__pay-icon {
  color: green;
}

.fotter-first .fotter__header-four, .fotter-last .fotter__header-four {
  font-size: 1.3rem;
}

.fotter-first .fotter__social-address, .fotter-last .fotter__social-address {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.fotter-first .fotter__social, .fotter-last .fotter__social {
  margin-bottom: 10px;
}

.fotter-first .fotter__social .fotter__social-icon, .fotter-last .fotter__social .fotter__social-icon {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7);
}

.fotter-first .fotter__social span, .fotter-last .fotter__social span {
  font-size: 1.3rem;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.54);
}

.fotter-first .fotter__social span:hover, .fotter-last .fotter__social span:hover {
  color: #ee4d2d;
}

.fotter-first .fotter__header-five, .fotter-last .fotter__header-five {
  font-size: 1.3rem;
}

.fotter-first .fotter__dowload, .fotter-last .fotter__dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fotter-first .fotter__dowload .fotter__dowload-scan .fotter__dowload-qr, .fotter-last .fotter__dowload .fotter__dowload-scan .fotter__dowload-qr {
  width: 86px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  margin-right: 18px;
}

.fotter-first .fotter__dowload-app-ios-appstore,
.fotter-first .fotter__dowload-app-androi-chplay, .fotter-last .fotter__dowload-app-ios-appstore,
.fotter-last .fotter__dowload-app-androi-chplay {
  width: 80px;
  margin: 5px 0;
}

.fotter-first .fotter__last-content, .fotter-last .fotter__last-content {
  margin: auto;
  margin-top: 36px;
}

.fotter-first .fotter__last, .fotter-last .fotter__last {
  background-color: #f5f5f5;
}

.fotter-first .fotter__policy, .fotter-last .fotter__policy {
  font-size: 1.3rem;
}

.fotter-first .fotter__policy .fotter__policy-content, .fotter-last .fotter__policy .fotter__policy-content {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  padding: 0 25px;
}

.fotter-first .fotter__policy .fotter__policy-content-border, .fotter-last .fotter__policy .fotter__policy-content-border {
  border-right: 1.5px solid rgba(0, 0, 0, 0.1);
  border-left: 1.5px solid rgba(0, 0, 0, 0.1);
}

.fotter-first .fotter__policy .fotter__policy-content-border-right, .fotter-last .fotter__policy .fotter__policy-content-border-right {
  border-right: 1.5px solid rgba(0, 0, 0, 0.1);
}

.fotter-first .fotter__logo, .fotter-last .fotter__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.fotter-first .fotter__logo img, .fotter-last .fotter__logo img {
  width: 170px;
}

.fotter-first .fotter__lisence, .fotter-last .fotter__lisence {
  margin: auto;
  font-size: 1.4rem;
  padding: 10px 0 30px;
}

.header-mobi-icon {
  display: none;
}

.header__search-mobi-icon-bar, .header__search-mobi-icon-search {
  font-size: 2.4rem;
  color: white;
  text-align: center;
  display: none;
}

.header-bar-label {
  margin-left: 30px;
}

.header-search-label {
  margin-left: 20px;
}

.nav-mobi__close {
  position: absolute;
  right: 15px;
  font-size: 3rem;
  top: 13px;
  color: #ee4d2d;
}

.nav-mobi__overlay {
  position: fixed;
  top: 114px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.14);
  z-index: 2;
  display: none;
  -webkit-animation: fadeIn linear 0.2s;
          animation: fadeIn linear 0.2s;
}

.nav-mobi__link:hover {
  background-color: #ccc;
  -webkit-animation: fadeIn linear 0.3s;
          animation: fadeIn linear 0.3s;
}

.nav-mobi {
  position: fixed;
  top: 68px;
  left: 0;
  bottom: 0;
  min-width: 300px;
  background-color: white;
  z-index: 5;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity linear 0.2s , -webkit-transform linear 0.2s;
  transition: opacity linear 0.2s , -webkit-transform linear 0.2s;
  transition: transform linear 0.2s , opacity linear 0.2s;
  transition: transform linear 0.2s , opacity linear 0.2s , -webkit-transform linear 0.2s;
}

.nav-mobi .nav-mobi__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-mobi .nav-mobi__item i {
  font-size: 2rem;
  margin-right: 19px;
  width: 20px;
  height: 17.5px;
  color: #ee4d2d;
}

.nav-mobi .nav-mobi__item .nav-mobi__item-icon {
  padding-left: 2px;
}

.nav-mobi .nav-mobi__link {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: 15px 30px;
}

.nav-mobi .nav-mobi__item-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #ccc;
  padding: 10px 18px;
}

.nav-mobi .user-login__avatar-img {
  border-radius: 50%;
}

.nav-mobi .user-login__name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10px;
}

.nav-category-mobi {
  overflow-x: auto;
  display: none;
}

.nav-category-mobi::-webkit-scrollbar {
  display: none;
}

.nav-category-mobi__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.nav-category-mobi__item {
  margin: 0 5px;
  border-radius: 3px;
}

.nav-category-mobi__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  display: block;
  padding: 0 5px;
  font-weight: 300;
  width: 120px;
  height: 40px;
  line-height: 2rem;
  text-align: center;
}

.nav-category-mobi__item:nth-of-type(3n + 1) {
  background-color: #88cf81;
}

.nav-category-mobi__item:nth-of-type(3n + 2) {
  background-color: #76c9bd;
}

.nav-category-mobi__item:nth-of-type(3n + 3) {
  background-color: #86afd7;
}

.nav-category-mobi__link:hover {
  color: #ee4d2d;
}

/* // mobi and tablet */
@media (max-width: 1024px) {
  .header__search {
    height: 68px;
  }
  .header {
    height: 68px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 4;
  }
  .header .hide-on-mobi-tablet {
    display: none;
  }
  .market-empty {
    z-index: 3;
    position: fixed;
    top: 68px;
    right: 0;
    width: 100%;
    padding: 0 calc((100% - 644px)/2);
  }
  .app__container {
    margin-top: 90px;
  }
  .market-empty:before {
    display: none;
  }
  .market-yes .market-yes__name {
    text-overflow: none;
    overflow: none;
    width: 100%;
  }
  .sort-bar {
    display: block;
  }
  .fotter-first .fotter__logo img, .fotter-last .fotter__logo img {
    margin-top: -34px;
  }
  .fotter-first .fotter__lisence, .fotter-last .fotter__lisence {
    font-size: 1.8rem;
  }
  .fotter__policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* // Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }
  .header__search-market {
    width: 73px;
    text-align: right;
  }
  .header-mobi-icon {
    display: none;
  }
  .nav-category-mobi {
    display: none;
  }
}

/* mobi */
@media (max-width: 739px) {
  .hide-on-mobi {
    display: none;
  }
  .app__container {
    width: 100%;
  }
  .header-input:checked ~ .header__search-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__search-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 68px;
    height: 46px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0 16px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: opacity linear 0.2s , -webkit-transform linear 0.3s;
    transition: opacity linear 0.2s , -webkit-transform linear 0.3s;
    transition: transform linear 0.3s , opacity linear 0.2s;
    transition: transform linear 0.3s , opacity linear 0.2s , -webkit-transform linear 0.3s;
  }
  .header__search-history {
    position: fixed;
    left: 0;
    width: 100%;
  }
  #nav-mobi-checkbox:checked ~ .nav-mobi {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  #nav-mobi-checkbox:checked ~ .nav-mobi__overlay {
    display: block;
  }
  .header__search-logo {
    text-align: center;
  }
  .header__search {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__search-market, .header__search-logo {
    width: unset;
  }
  .header-card-wrap {
    margin-right: 30px;
  }
  .header__search-mobi-icon {
    display: inline-block;
  }
  .header-mobi-icon {
    display: block;
  }
  .pagination__item {
    margin: 0px -1px;
  }
  .product-pagination {
    margin: 24px 0 28px;
  }
  .app__container-content {
    margin: 0 4px !important;
  }
  .market-empty {
    z-index: 3;
    position: fixed;
    top: 68px;
    right: 0;
    width: 100%;
    padding: 0 10px;
  }
  .market-yes .market-yes__name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 150px;
  }
  .header__search-logo-img {
    width: 110px;
  }
  .fotter-first {
    display: none;
  }
  .fotter__last-content {
    display: none;
  }
  .nav-category-mobi {
    display: block;
  }
  .fotter-first .fotter__logo, .fotter-last .fotter__logo {
    display: none;
  }
  .sort-bar .sort-bar__link-bride::after {
    position: absolute;
    content: "";
    top: 1%;
    left: -30px;
    bottom: 0;
    width: 100px;
    height: 44px;
  }
}
/*# sourceMappingURL=main.css.map */